@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300..900&display=swap");
:root {
  --dm-nav-clr: hsl(0, 0%, 13%);
  --dm-navHover-clr: hsl(0, 0%, 18%);
  --dm-body-clr: hsl(0, 0%, 15%);
  --dm-card-clr: hsl(0, 0%, 20%);
  --dm-card-content-clr: hsl(0, 0%, 24%);
  --dm-card-contentHover-clr: hsl(0, 0%, 29%);
  --dm-border-clr: hsl(0, 0%, 11%);
  --dm-font-clr: hsl(0, 0%, 100%);
  --lm-nav-clr: hsl(0, 0%, 95%);
  --lm-navHover-clr: hsl(0, 0%, 92%);
  --lm-body-clr: hsl(0, 0%, 98%);
  --lm-card-clr: hsl(0, 0%, 99%);
  --lm-card-content-clr: hsl(0, 0%, 100%);
  --lm-card-contentHover-clr: hsl(0, 0%, 97%);
  --lm-border-clr: hsl(0, 0%, 90%);
  --lm-font-clr: hsl(0, 0%, 0%);
  --acc-htmlOrange-clr: hsl(18, 89%, 55%);
  --acc-cssBlue-clr: hsl(222, 88%, 56%);
  --acc-sassPink-clr: hsl(330, 50%, 61%);
  --acc-jsYellow-clr: hsl(52, 100%, 49%);
  --c-nav-clr: var(--dm-nav-clr);
  --c-navHover-clr: var(--dm-navHover-clr);
  --c-body-clr: var(--dm-body-clr);
  --c-card-clr: var(--dm-card-clr);
  --c-btn-clr: var(--dm-card-content-clr);
  --c-border-clr: var(--dm-border-clr);
  --c-acc-clr: var(--acc-sassPink-clr);
  --c-font-clr: var(--dm-font-clr);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito";
  color: var(--c-font-clr);
}

html {
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
}

#main-nav {
  width: 100%;
  height: auto;
  padding: 1rem 0.5rem 0 0.5rem;
  position: fixed;
  background-color: var(--c-nav-clr);
}
#main-nav ul {
  display: flex;
  flex-direction: row;
  width: 100%;
}
#main-nav ul a {
  text-decoration: none;
  width: 25%;
}
#main-nav ul a .nav-li {
  position: relative;
  list-style: none;
  font-size: 2.3rem;
  text-align: center;
  font-weight: 700;
  padding-bottom: 1rem;
}
#main-nav ul a .nav-li .current-indicator {
  opacity: 0;
  position: absolute;
  margin: auto;
  width: 5rem;
  height: 0.5rem;
  bottom: 0;
  left: 50%;
  translate: -50% 0;
  background-color: var(--c-acc-clr);
  border-radius: 10px 10px 0 0;
  visibility: 0;
  transition: all 0.8s ease-in;
}
#main-nav ul a .nav-li:hover p, #main-nav ul a .nav-li:hover i {
  color: var(--c-acc-clr);
}

#main-section {
  display: flex;
  flex-direction: row;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100vh;
}
#main-section .sub-section {
  background-color: var(--c-body-clr);
  width: 100vw;
  height: 100%;
}
#main-section .sub-section .content-section {
  margin-inline: auto;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: min(95%, 115rem);
  height: 100%;
  overflow-y: scroll;
}
#main-section .sub-section .content-section .cards {
  width: 28rem;
  height: 20rem;
  margin-block: clamp(2.8rem, 3vw, 3.5rem) clamp(0.5rem, 1vw, 1.5rem);
  margin-inline: clamp(1rem, 2.8vw, 3.5rem);
  background-color: var(--c-card-clr);
  border: 2px solid var(--c-border-clr);
  border-radius: 10px;
}
#main-section .sub-section .content-section .cards .card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.65rem;
  height: 100%;
}
#main-section .sub-section .content-section .cards .card-container .top {
  display: flex;
  justify-content: space-between;
}
#main-section .sub-section .content-section .cards .card-container .top h1 {
  width: 65%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#main-section .sub-section .content-section .cards .card-container .top h1,
#main-section .sub-section .content-section .cards .card-container .top i {
  font-size: 1.5rem;
}
#main-section .sub-section .content-section .cards .card-container .top button {
  border: none;
  background: transparent;
}
#main-section .sub-section .content-section .cards .card-container .middle {
  text-align: center;
  vertical-align: middle;
  font-size: 1.8rem;
}
#main-section .sub-section .content-section .cards .card-container .bottom {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
#main-section .sub-section .content-section .cards .card-container .bottom button {
  border: none;
  background-color: transparent;
}
#main-section .sub-section .content-section .cards .card-container .bottom button i {
  font-size: 2.5rem;
}
#main-section .sub-section .content-section .cards .card-container .bottom .play-btn i {
  color: var(--c-acc-clr);
}
#main-section .sub-section ::-webkit-scrollbar {
  width: 10px;
}
#main-section .sub-section ::-webkit-scrollbar-track {
  background-color: var(--c-nav-clr);
}
#main-section .sub-section ::-webkit-scrollbar-thumb {
  background-color: var(--c-border-clr);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box;
}
#main-section .sub-section ::-webkit-scrollbar-thumb:hover {
  border: 0;
}

.utility-btns {
  border: none;
  position: fixed;
  bottom: 1.5rem;
  padding: 0.95rem;
  background-color: var(--c-btn-clr);
  border: 2px solid var(--c-border-clr);
  border-radius: 10px;
}
.utility-btns i {
  font-size: 2rem;
}

.utility-btns:hover i {
  color: var(--c-acc-clr);
}

#settings-btn {
  left: 1.3rem;
}

#edit-btn {
  right: 1.3rem;
}/*# sourceMappingURL=styles.css.map */